body {
    overflow-x: hidden;
}

.divpadding {
    padding-top: 5em;
}

.card1-img {
    height: 60vh;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #ff8800;
    border-color: #e9ecef;
    font-size: 18px;
}

button:focus {
    outline: none;
    border: 0;
}

.btn-primary:hover {
    color: #fff;
    background-color: #304480;
    border-color: #e9ecef;
    font-size: 18px;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #ff8800;
}

.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff8800;
}

.tablepadding {
    padding-topL4em;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: #304480;
    border-bottom: 1px solidrgba(0,0,0,.125);
    color: white;
}

.btn-primaryseries:hover {
    background-color: #005924;
    color: white;
}

.btn-primaryseries {
    background-color: #ff8800;
    color: white;
}

.btn-outline-primary {
    color: white;
    border-color: #0d6efd;
    background-color: #304480;
}

    .btn-outline-primary:hover {
        color: white;
        border-color: #0d6efd;
        background-color: #304480;
    }

.tableheader {
    background-color: #304480;
}

    .tableheader:hover {
        background-color: #304480 !important;
    }

table {
    width: 100%;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #304480;
    border-color: #304480;
}

.page-link {
    position: relative;
    display: block;
    color: #ff8800;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dt-buttons {
    float: right;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    float: left;
}

button, html [type=button] {
    -webkit-appearance: button;
    background-color: #ff8800;
    color: white;
    border-color: #ff8800;
}

.left-col {
    float: right;
}
.center-col {
    float: right;
}
.right-col {
    float: right;
}
.form-control {
    display: block;
    width: 100%;
    padding: -3.625rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ff8800;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    float: left;
    padding-right: 9px;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    padding-right: 9px;
    float: left;
}
.row {
    --bs-gutter-x: -1.5rem;
    --bs-gutter-y: 0;
    /* display: flex; */
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    margin-bottom: -2em;
}


.nav-link {
    font-size: 18px;
    font-weight:bold;
}